ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-WEIGHT KGS
UNITS-BOLT-DIA MM
UNITS-BOLT-LENGTH MM
PIPELINE-REFERENCE TMP-2
PROJECT-IDENTIFIER
AREA
ATTRIBUTE5
ATTRIBUTE7
ATTRIBUTE10
ATTRIBUTE11
PIPE
COMPONENT-IDENTIFIER 1
END-POINT 14073.6744314497 11597.3 528.6 152.4
END-POINT 14073.6744314497 11597.3 2588.85 152.4
ITEM-DESCRIPTION 6" STD Pipe BE ASME B36.10M smls ASTM A106 GR B
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
SUPPORT
COMPONENT-IDENTIFIER 3
CO-ORDS 14073.6744314497 11597.3 2588.85 152.4
Skey SKID
SUPPORT-DIRECTION NORTH
ITEM-DESCRIPTION WP - WEAR PAD
PIPING-SPEC PIL-SUPP
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 Undefined
COMPONENT-ATTRIBUTE4 Undefined
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
SUPPORT
COMPONENT-IDENTIFIER 4
CO-ORDS 14073.6744314497 11597.3 2588.85 152.4
Skey SKID
SUPPORT-DIRECTION NORTH
ITEM-DESCRIPTION S1 - PIPE SHOE WELDED RESTING
PIPING-SPEC PIL-SUPP
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 Undefined
COMPONENT-ATTRIBUTE4 Undefined
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
SUPPORT
COMPONENT-IDENTIFIER 5
CO-ORDS 14073.6744314497 11597.3 2588.85 152.4
Skey SKID
SUPPORT-DIRECTION NORTH
ITEM-DESCRIPTION SG1 - GUIDE ON PIPE SHOE
PIPING-SPEC PIL-SUPP
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 Undefined
COMPONENT-ATTRIBUTE4 Undefined
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
PIPE
COMPONENT-IDENTIFIER 6
END-POINT 14073.6744314497 11597.3 2588.85 152.4
END-POINT 14073.6744314497 11597.3 2893.85 152.4
ITEM-DESCRIPTION 6" STD Pipe BE ASME B36.10M smls ASTM A106 GR B
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
TEE
COMPONENT-IDENTIFIER 7
END-POINT 14073.6744314497 11597.3 2893.85 152.4
END-POINT 14073.6744314497 11597.3 3179.59 152.4
CENTRE-POINT 14073.6744314497 11597.3 3036.72
BRANCH1-POINT 13930.8044314497 11597.3 3036.72 152.4
Skey TEBW
ITEM-DESCRIPTION 6" STD Tee equal BW ASME B16.9 smls ASTM A234 GR WPB
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
PIPE
COMPONENT-IDENTIFIER 8
END-POINT 14073.6744314497 11597.3 3179.59 152.4
END-POINT 14073.6744314497 11597.3 6088.85 152.4
ITEM-DESCRIPTION 6" STD Pipe BE ASME B36.10M smls ASTM A106 GR B
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
TEE
COMPONENT-IDENTIFIER 9
END-POINT 14073.6744314497 11597.3 6088.85 152.4
END-POINT 14073.6744314497 11597.3 6088.85 152.4
CENTRE-POINT 14073.6744314497 11597.3 6088.85
BRANCH1-POINT 14073.6744314497 11597.3 6088.85 101.6
Skey TEBW
ITEM-DESCRIPTION STUB IN TEE
PIPING-SPEC PIL-RPADSPEC
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
TEE
COMPONENT-IDENTIFIER 10
END-POINT 14073.6744314497 11597.3 6088.85 152.4
END-POINT 14073.6744314497 11597.3 6088.85 152.4
CENTRE-POINT 14073.6744314497 11597.3 6088.85
BRANCH1-POINT 14073.6744314497 11597.3 6088.85 101.6
Skey TEBW
ITEM-DESCRIPTION STUB IN TEE
PIPING-SPEC PIL-RPADSPEC
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
PIPE
COMPONENT-IDENTIFIER 12
END-POINT 14073.6744314497 11597.3 6088.85 152.4
END-POINT 14073.6744314497 11597.3 7028.04552139013 152.4
ITEM-DESCRIPTION 6" STD Pipe BE ASME B36.10M smls ASTM A106 GR B
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
BEND
COMPONENT-IDENTIFIER 13
END-POINT 14073.6744314497 11597.3 7028.04552139013 152.4
END-POINT 14073.6744314497 11368.7 7256.64552139013 152.4
CENTRE-POINT 14073.6744314497 11597.3 7256.64552139013
Skey BEBW
ANGLE 90
BEND-RADIUS 228.6
ITEM-DESCRIPTION 6" STD Elbow 90 deg BW ASME B16.9 LR smls ASTM A234 GR WPB
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
PIPE
COMPONENT-IDENTIFIER 14
END-POINT 14074 11597 6089 101.6
END-POINT 14074 12234.64 6089 101.6
ITEM-DESCRIPTION 4" STD Pipe BE ASME B36.10M smls ASTM A106 GR B
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
SUPPORT
COMPONENT-IDENTIFIER 16
CO-ORDS 14074 12234.64 6089 101.6
Skey SKID
SUPPORT-DIRECTION UP
ITEM-DESCRIPTION BSG1 - GUIDE FOR BASE SUPPORT
PIPING-SPEC PIL-SUPP
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 Undefined
COMPONENT-ATTRIBUTE4 Undefined
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
PIPE
COMPONENT-IDENTIFIER 17
END-POINT 14074 12234.64 6089 101.6
END-POINT 14074 12447 6089 101.6
ITEM-DESCRIPTION 4" STD Pipe BE ASME B36.10M smls ASTM A106 GR B
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
SUPPORT
COMPONENT-IDENTIFIER 18
CO-ORDS 14074 12447 6089 101.6
Skey SKID
SUPPORT-DIRECTION UP
ITEM-DESCRIPTION DT1 - DOUBLE TRUNNION WITHOUT PAD
PIPING-SPEC PIL-SUPP
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 Undefined
COMPONENT-ATTRIBUTE4 Undefined
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
PIPE
COMPONENT-IDENTIFIER 19
END-POINT 14073.6744314497 11597.3 6088.85 101.6
END-POINT 14073.6744314497 10961.7 6088.85 101.6
ITEM-DESCRIPTION 4" STD Pipe BE ASME B36.10M smls ASTM A106 GR B
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
SUPPORT
COMPONENT-IDENTIFIER 21
CO-ORDS 14073.6744314497 10961.7 6088.85 101.6
Skey SKID
SUPPORT-DIRECTION UP
ITEM-DESCRIPTION BSG1 - GUIDE FOR BASE SUPPORT
PIPING-SPEC PIL-SUPP
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 Undefined
COMPONENT-ATTRIBUTE4 Undefined
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
PIPE
COMPONENT-IDENTIFIER 22
END-POINT 14073.6744314497 10961.7 6088.85 101.6
END-POINT 14073.6744314497 10747.3 6088.85 101.6
ITEM-DESCRIPTION 4" STD Pipe BE ASME B36.10M smls ASTM A106 GR B
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
SUPPORT
COMPONENT-IDENTIFIER 23
CO-ORDS 14073.6744314497 10747.3 6088.85 101.6
Skey SKID
SUPPORT-DIRECTION UP
ITEM-DESCRIPTION DT1 - DOUBLE TRUNNION WITHOUT PAD
PIPING-SPEC PIL-SUPP
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 Undefined
COMPONENT-ATTRIBUTE4 Undefined
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
