ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-WEIGHT KGS
UNITS-BOLT-DIA MM
UNITS-BOLT-LENGTH MM
PIPELINE-REFERENCE TMP-2
PROJECT-IDENTIFIER
AREA
ATTRIBUTE5
ATTRIBUTE7
ATTRIBUTE10
ATTRIBUTE11
BEND
COMPONENT-IDENTIFIER 1
END-POINT 13673.674 22824.3 1485.8 152.4
END-POINT 13673.674 22595.7 1257.2 152.4
CENTRE-POINT 13673.674 22595.7 1485.8
Skey BEBW
ANGLE 90
BEND-RADIUS 228.6
ITEM-DESCRIPTION 6" STD Elbow 90 deg BW ASME B16.9 LR smls ASTM A234 GR WPB
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
PIPE
COMPONENT-IDENTIFIER 2
END-POINT 13673.674 22595.7 1257.2 152.4
END-POINT 13673.674 22595.7 626.325582582604 152.4
ITEM-DESCRIPTION 6" STD Pipe BE ASME B36.10M smls ASTM A106 GR B
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
BEND
COMPONENT-IDENTIFIER 3
END-POINT 13673.674 22369.3857313194 397.737010181586 152.4
END-POINT 13673.674 22595.7 626.325582582604 152.4
CENTRE-POINT 13673.674 22595.7 400
Skey BEBW
ANGLE 89.4271
BEND-RADIUS 228.6
ITEM-DESCRIPTION 6" STD Elbow 90 deg BW ASME B16.9 LR smls ASTM A234 GR WPB
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
PIPE
COMPONENT-IDENTIFIER 4
END-POINT 13673.674 22369.3857313194 397.737010181586 152.4
END-POINT 13673.674 21143.0058753679 385.47404000429 152.4
ITEM-DESCRIPTION 6" STD Pipe BE ASME B36.10M smls ASTM A106 GR B
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
SUPPORT
COMPONENT-IDENTIFIER 7
CO-ORDS 13673.674 21143.0058753679 385.47404000429 152.4
Skey SKID
SUPPORT-DIRECTION S 89.4271 U
ITEM-DESCRIPTION S3 - PIPE SHOE FOR SLOPING LINES - RESTING
PIPING-SPEC PIL-SUPP
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 Undefined
COMPONENT-ATTRIBUTE4 Undefined
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
SUPPORT
COMPONENT-IDENTIFIER 8
CO-ORDS 13673.674 21143.0058753679 385.47404000429 152.4
Skey SKID
SUPPORT-DIRECTION S 89.4271 U
ITEM-DESCRIPTION SG1 - GUIDE ON PIPE SHOE
PIPING-SPEC PIL-SUPP
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 Undefined
COMPONENT-ATTRIBUTE4 Undefined
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
PIPE
COMPONENT-IDENTIFIER 9
END-POINT 13673.674 21143.0058753679 385.47404000429 152.4
END-POINT 13673.674 18635.5431886686 360.401106851928 152.4
ITEM-DESCRIPTION 6" STD Pipe BE ASME B36.10M smls ASTM A106 GR B
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
SUPPORT
COMPONENT-IDENTIFIER 11
CO-ORDS 13673.674 18635.5431886686 360.401106851928 152.4
Skey SKID
SUPPORT-DIRECTION S 89.4271 U
ITEM-DESCRIPTION S3 - PIPE SHOE FOR SLOPING LINES - RESTING
PIPING-SPEC PIL-SUPP
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 Undefined
COMPONENT-ATTRIBUTE4 Undefined
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
PIPE
COMPONENT-IDENTIFIER 12
END-POINT 13673.674 18635.5431886686 360.401106851928 152.4
END-POINT 13673.674 16157.5984491615 335.623333233014 152.4
ITEM-DESCRIPTION 6" STD Pipe BE ASME B36.10M smls ASTM A106 GR B
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
SUPPORT
COMPONENT-IDENTIFIER 14
CO-ORDS 13673.674 16157.5984491615 335.623333233014 152.4
Skey SKID
SUPPORT-DIRECTION S 89.4271 U
ITEM-DESCRIPTION S3 - PIPE SHOE FOR SLOPING LINES - RESTING
PIPING-SPEC PIL-SUPP
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 Undefined
COMPONENT-ATTRIBUTE4 Undefined
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
SUPPORT
COMPONENT-IDENTIFIER 15
CO-ORDS 13673.674 16157.5984491615 335.623333233014 152.4
Skey SKID
SUPPORT-DIRECTION S 89.4271 U
ITEM-DESCRIPTION SG1 - GUIDE ON PIPE SHOE
PIPING-SPEC PIL-SUPP
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 Undefined
COMPONENT-ATTRIBUTE4 Undefined
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
PIPE
COMPONENT-IDENTIFIER 16
END-POINT 13673.674 16157.5984491615 335.623333233014 152.4
END-POINT 13673.674 13635.2846982038 310.401899469509 152.4
ITEM-DESCRIPTION 6" STD Pipe BE ASME B36.10M smls ASTM A106 GR B
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
SUPPORT
COMPONENT-IDENTIFIER 18
CO-ORDS 13673.674 13635.2846982038 310.401899469509 152.4
Skey SKID
SUPPORT-DIRECTION S 89.4271 U
ITEM-DESCRIPTION S3 - PIPE SHOE FOR SLOPING LINES - RESTING
PIPING-SPEC PIL-SUPP
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 Undefined
COMPONENT-ATTRIBUTE4 Undefined
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
PIPE
COMPONENT-IDENTIFIER 19
END-POINT 13673.674 13635.2846982038 310.401899469509 152.4
END-POINT 13673.674 11828.2854803161 292.333127863537 152.4
ITEM-DESCRIPTION 6" STD Pipe BE ASME B36.10M smls ASTM A106 GR B
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
BEND
COMPONENT-IDENTIFIER 20
END-POINT 13673.674 11828.2854803161 292.333127863537 152.4
END-POINT 13673.674 11597.3997489967 520.921700264555 152.4
CENTRE-POINT 13673.674 11597.3997489967 290.024426506618
Skey BEBW
ANGLE 90.5729
BEND-RADIUS 228.6
ITEM-DESCRIPTION 6" STD Elbow 90 deg BW ASME B16.9 LR smls ASTM A234 GR WPB
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
PIPE
COMPONENT-IDENTIFIER 21
END-POINT 13673.674 11597.3997489967 520.921700264555 152.4
END-POINT 13673.674 11597.3 2808.12 152.4
ITEM-DESCRIPTION 6" STD Pipe BE ASME B36.10M smls ASTM A106 GR B
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
BEND
COMPONENT-IDENTIFIER 22
END-POINT 13673.674 11597.3 2808.12 152.4
END-POINT 13902.274 11597.3 3036.72 152.4
CENTRE-POINT 13673.674 11597.3 3036.72
Skey BEBW
ANGLE 90
BEND-RADIUS 228.6
ITEM-DESCRIPTION 6" STD Elbow 90 deg BW ASME B16.9 LR smls ASTM A234 GR WPB
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
PIPE
COMPONENT-IDENTIFIER 23
END-POINT 13902.274 11597.3 3036.72 152.4
END-POINT 13930.8044314497 11597.3 3036.72 152.4
ITEM-DESCRIPTION 6" STD Pipe BE ASME B36.10M smls ASTM A106 GR B
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
PIPE
COMPONENT-IDENTIFIER 24
END-POINT 13673.674 22594.04 565.992 101.6
END-POINT 13673.674 22594.04 125.992 101.6
ITEM-DESCRIPTION 4" STD Pipe BE ASME B36.10M smls ASTM A106 GR B
PIPING-SPEC 1C1P
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 A106-B
COMPONENT-ATTRIBUTE4 Undefined MM
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
SUPPORT
COMPONENT-IDENTIFIER 26
CO-ORDS 13673.674 22594.04 125.992 101.6
Skey SKID
SUPPORT-DIRECTION NORTH
ITEM-DESCRIPTION BS1 - TRUNION BASE SUPPORT
PIPING-SPEC PIL-SUPP
COMPONENT-ATTRIBUTE1 XXXX KPA
COMPONENT-ATTRIBUTE2 xxxx C
COMPONENT-ATTRIBUTE3 Undefined
COMPONENT-ATTRIBUTE4 Undefined
COMPONENT-ATTRIBUTE5 0 MM
COMPONENT-ATTRIBUTE10 xxxx KPA
