ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-WEIGHT KGS
UNITS-BOLT-DIA MM
UNITS-BOLT-LENGTH MM
PIPELINE-REFERENCE 67133182
    PROJECT-IDENTIFIER P1
    AREA A1

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=78MM, NORTH  RefNo:=67133182/6326
FLANGE
    END-POINT  1150221.527 1033259.363 103918.882 750.0
    END-POINT  1150221.527 1033337.462 103918.804 750.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8 0.0 KG
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=137MM, NORTH  RefNo:=67133182/6328
FLANGE
    END-POINT  1150221.527 1033337.462 103918.804 750.0
    END-POINT  1150221.527 1033474.462 103918.667 750.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8 0.0 KG
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    TEE, 750X400, A106-B, NORTH  RefNo:=67133182/6329
TEE
    END-POINT  1150221.527 1033474.462 103918.667 750.0
    END-POINT  1150221.527 1034592.462 103917.549 750.0
    CENTRE-POINT  1150221.527 1034033.462 103918.108 750.0
    BRANCH1-POINT  1150563.06 1034033.804 104259.64 400.0
    <SKEY> TEBW
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=100MM, NORTH  RefNo:_gap_=67133182/6329_=67133182/6350
PIPE
    END-POINT  1150221.527 1034592.462 103917.549 750.0
    END-POINT  1150221.527 1034692.462 103917.449 750.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    TEE, 750X400, A106-B, NORTH  RefNo:=67133182/6350
TEE
    END-POINT  1150221.527 1034692.462 103917.449 750.0
    END-POINT  1150221.527 1035810.461 103916.331 750.0
    CENTRE-POINT  1150221.527 1035251.462 103916.89 750.0
    BRANCH1-POINT  1149879.994 1035251.803 104258.422 400.0
    <SKEY> TEBW
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    REDUCER-ECCENTRIC, 750X750, A106-B, FLAT=DOWN  RefNo:=67141374/2182
REDUCER-ECCENTRIC
    END-POINT  1027707.429 1101830.441 103710.64 750.0
    END-POINT  1027707.429 1101220.517 103634.03 600.0
    FLAT-DIRECTION DOWN
    Skey REBW
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=156MM, SOUTH  RefNo:=67133182/6343
FLANGE
    END-POINT  1027707.429 1101220.517 103634.03 600.0
    END-POINT  1027707.429 1101064.517 103633.874 600.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8 0.0 KG
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=153MM, SOUTH  RefNo:=67141374/1625
FLANGE
    END-POINT  1027707.429 1099994.517 103632.803 600.0
    END-POINT  1027707.429 1099841.518 103632.65 600.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8 0.0 KG
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=670MM, SOUTH  RefNo:_gap_=67141374/1625_=67133182/6560
PIPE
    END-POINT  1027707.429 1099841.518 103632.65 600.0
    END-POINT  1027707.429 1099171.514 103631.98 600.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    BEND, 90DEG, RADIUS=914.0, A106-B, SOUTH AND WEST  RefNo:=67133182/6560
BEND
    END-POINT  1027707.429 1099171.514 103631.98 600.0
    END-POINT  1026793.431 1098257.515 103630.152 600.0
    CENTRE-POINT  1027707.429 1098257.515 103631.066 600.0
    <SKEY> BEBW
    ANGLE 90
    BEND-RADIUS 914.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=499MM, WEST  RefNo:_gap_=67133182/6560_=67133182/6562
PIPE
    END-POINT  1026793.431 1098257.515 103630.152 600.0
    END-POINT  1026294.708 1098257.515 103629.654 600.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=785MM, WEST  RefNo:_gap_=67133182/6562_=67141374/1627
PIPE
    END-POINT  1026294.708 1098257.515 103629.654 600.0
    END-POINT  1025510.003 1098257.634 103629.099 600.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    BEND, 90.04DEG, RADIUS=914.0, A106-B, DOWN AND WEST  RefNo:=67141374/1627
BEND
    END-POINT  1025510.003 1098257.634 103629.099 600.0
    END-POINT  1024596.65 1098257.634 102715.099 600.0
    CENTRE-POINT  1024596.65 1098257.634 103628.453 600.0
    <SKEY> BEBW
    ANGLE 90.04
    BEND-RADIUS 914.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=119MM, DOWN  RefNo:_gap_=67141374/1627_=67141374/2180
PIPE
    END-POINT  1024596.65 1098257.634 102715.099 600.0
    END-POINT  1024596.65 1098257.634 102596.387 600.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    REDUCER-ECCENTRIC, 600X600, A106-B, FLAT=DOWN  RefNo:=67141374/2180
REDUCER-ECCENTRIC
    END-POINT  1024596.65 1098257.634 102596.387 600.0
    END-POINT  1024596.65 1098257.634 102088.387 400.0
    FLAT-DIRECTION DOWN
    Skey REBW
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=130MM, DOWN  RefNo:=67141374/1628
FLANGE
    END-POINT  1024596.65 1098257.634 102088.387 400.0
    END-POINT  1024596.65 1098257.634 101958.387 400.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8 0.0 KG
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    PIPE, 0, LENGTH=5922MM, NORTH  RefNo:=67133182/3062_sp0
PIPE
    END-POINT  1026294.236 1092379.323 104349.604 100.0
    END-POINT  1026294.708 1098257.515 103629.654 100.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    OLET, 600X100, A106-B  RefNo:=67133182/6562
OLET
    CENTRE-POINT  1026294.708 1098257.515 103629.654 600.0
    BRANCH1-POINT  1026294.53 1098005.926 103881.242 100.0
    <SKEY> CEBW
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    PIPE, 0, LENGTH=139958MM, WEST AND NORTH  RefNo:=67133182/6325
PIPE
    END-POINT  1150221.552 1033399.294 103894.134 750.0
    END-POINT  1027707.429 1101064.517 103633.874 600.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    PIPE, 0, LENGTH=141393MM, WEST AND NORTH  RefNo:=67141374/1621_sp0
PIPE
    END-POINT  1150221.552 1033399.294 103894.134 600.0
    END-POINT  1024596.65 1098257.634 101932.987 600.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=709MM, SOUTH  RefNo:_gap_=67133182/6561_=67141374/2182
PIPE
    END-POINT  1027707.429 1102539.848 103711.349 750.0
    END-POINT  1027707.429 1101830.441 103710.64 750.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    BEND, 90DEG, RADIUS=1143.0, A106-B, WEST AND SOUTH  RefNo:=67133182/6561
BEND
    END-POINT  1028850.427 1103682.846 103713.635 750.0
    END-POINT  1027707.429 1102539.848 103711.349 750.0
    CENTRE-POINT  1027707.429 1103682.846 103712.492 750.0
    <SKEY> BEBW
    ANGLE 90
    BEND-RADIUS 1143.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=21581MM, WEST  RefNo:_gap_=67133182/6337_=67133182/6561
PIPE
    END-POINT  1050431.075 1103683.024 103735.218 750.0
    END-POINT  1028850.427 1103682.846 103713.635 750.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    BEND, 90DEG, RADIUS=1143.0, A106-B, WEST AND NORTH  RefNo:=67133182/6337
BEND
    END-POINT  1051574.074 1102540.026 103737.504 750.0
    END-POINT  1050431.075 1103683.024 103735.218 750.0
    CENTRE-POINT  1051574.074 1103683.024 103736.361 750.0
    <SKEY> BEBW
    ANGLE 90
    BEND-RADIUS 1143.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=8346MM, NORTH  RefNo:_gap_=67133182/6336_=67133182/6337
PIPE
    END-POINT  1051574.074 1094194.235 103745.85 750.0
    END-POINT  1051574.074 1102540.026 103737.504 750.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    BEND, 90DEG, RADIUS=1143.0, A106-B, NORTH AND WEST  RefNo:=67133182/6336
BEND
    END-POINT  1052717.072 1093051.237 103748.136 750.0
    END-POINT  1051574.074 1094194.235 103745.85 750.0
    CENTRE-POINT  1051574.074 1093051.237 103746.993 750.0
    <SKEY> BEBW
    ANGLE 90
    BEND-RADIUS 1143.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=16547MM, WEST  RefNo:_gap_=67133182/6335_=67133182/6336
PIPE
    END-POINT  1069264.108 1093051.237 103764.685 750.0
    END-POINT  1052717.072 1093051.237 103748.136 750.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    BEND, 90DEG, RADIUS=1143.0, A106-B, SOUTH AND WEST  RefNo:=67133182/6335
BEND
    END-POINT  1070407.106 1094194.235 103766.971 750.0
    END-POINT  1069264.108 1093051.237 103764.685 750.0
    CENTRE-POINT  1070407.106 1093051.237 103765.828 750.0
    <SKEY> BEBW
    ANGLE 90
    BEND-RADIUS 1143.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=4432MM, SOUTH  RefNo:_gap_=67133182/6334_=67133182/6335
PIPE
    END-POINT  1070407.106 1098626.563 103771.403 750.0
    END-POINT  1070407.106 1094194.235 103766.971 750.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    BEND, 90DEG, RADIUS=1143.0, A106-B, WEST AND SOUTH  RefNo:=67133182/6334
BEND
    END-POINT  1071550.104 1099769.561 103773.69 750.0
    END-POINT  1070407.106 1098626.563 103771.403 750.0
    CENTRE-POINT  1070407.106 1099769.561 103772.547 750.0
    <SKEY> BEBW
    ANGLE 90
    BEND-RADIUS 1143.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=118MM, NORTH  RefNo:=67141374/1620
FLANGE
    END-POINT  1145515.978 1034562.421 104663.129 300.0
    END-POINT  1145515.978 1034680.42 104662.57 300.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8 0.0 KG
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=115MM, NORTH  RefNo:=67141374/1618
FLANGE
    END-POINT  1145515.978 1034680.42 104662.57 300.0
    END-POINT  1145515.978 1034795.419 104662.025 300.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8 0.0 KG
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    BEND, 90DEG, RADIUS=457.0, A106-B, EAST AND NORTH  RefNo:=67133182/4841
BEND
    END-POINT  1145515.978 1034795.419 104662.025 300.0
    END-POINT  1145972.976 1035252.414 104659.402 300.0
    CENTRE-POINT  1145515.976 1035252.414 104659.859 300.0
    <SKEY> BEBW
    ANGLE 90
    BEND-RADIUS 457.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=2941MM, EAST  RefNo:_gap_=67133182/4841_=67141374/1613
PIPE
    END-POINT  1145972.976 1035252.414 104659.402 300.0
    END-POINT  1148913.654 1035252.414 104656.46 300.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    REDUCER-ECCENTRIC, 300X300, A106-B, FLAT=DOWN  RefNo:=67141374/1613
REDUCER-ECCENTRIC
    END-POINT  1148913.654 1035252.414 104656.46 300.0
    END-POINT  1149269.613 1035252.414 104614.804 400.0
    FLAT-DIRECTION DOWN
    Skey REBW
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    BEND, 135DEG, RADIUS=613.2, A106-B, EAST AND DOWN  RefNo:=67133182/3151
BEND
    END-POINT  1149269.613 1035252.414 104614.804 400.0
    END-POINT  1149703.218 1035251.98 104435.199 400.0
    CENTRE-POINT  1149523.613 1035252.159 104614.804 400.0
    <SKEY> BEBW
    ANGLE 135
    BEND-RADIUS 613.2
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    BEND, 90DEG, RADIUS=, A106-B, EAST  RefNo:=67141374/1616
BEND
    END-POINT  1149269.613 1035252.414 104614.804 400.0
    END-POINT  1149269.613 1035252.414 104614.804 400.0
    CENTRE-POINT  1149269.613 1035252.414 104614.804 400.0
    <SKEY> BEBW
    ANGLE 90
    BEND-RADIUS 0.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=80MM, NORTH  RefNo:=67133182/3248
FLANGE
    END-POINT  1026294.236 1092302.324 104349.989 100.0
    END-POINT  1026294.236 1092382.323 104349.589 100.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8 0.0 KG
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=77MM, NORTH  RefNo:=67133182/3064
FLANGE
    END-POINT  1026294.236 1092382.323 104349.589 100.0
    END-POINT  1026294.236 1092459.322 104349.204 100.0
    <SKEY> FLWN
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE8 0.0 KG
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=5040MM, NORTH  RefNo:_gap_=67133182/3064_=67133182/3198
PIPE
    END-POINT  1026294.236 1092459.322 104349.204 100.0
    END-POINT  1026294.236 1097499.488 104324.002 100.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    BEND, 135.29DEG, RADIUS=155.6, A106-B, NORTH AND DOWN  RefNo:=67133182/3198
BEND
    END-POINT  1026294.236 1097499.488 104324.002 100.0
    END-POINT  1026294.236 1097608.742 104278.427 100.0
    CENTRE-POINT  1026294.236 1097563.487 104323.681 100.0
    <SKEY> BEBW
    ANGLE 135.29
    BEND-RADIUS 155.6
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    BEND, 90DEG, RADIUS=, A106-B, EAST  RefNo:=67133182/3272
BEND
    END-POINT  1026294.236 1092302.324 104349.989 100.0
    END-POINT  1026294.236 1092302.324 104349.989 100.0
    CENTRE-POINT  1026294.236 1092302.324 104349.989 100.0
    <SKEY> BEBW
    ANGLE 90
    BEND-RADIUS 0.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    *** ORPHAN COMPONENTS — no coordinate match found ***
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6568
SUPPORT
    CO-ORDS  1150221.527 1037180.238 103914.961 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6571
SUPPORT
    CO-ORDS  1150221.527 1037180.239 103914.961 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6577
SUPPORT
    CO-ORDS  1150221.54 1048532.969 103903.607 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    BEND, 90DEG, RADIUS=1143.0, A106-B, WEST AND NORTH  RefNo:=67133182/6333
BEND
    END-POINT  1150221.592 1098626.563 103853.51 750.0
    END-POINT  1149078.593 1099769.561 103851.224 750.0
    CENTRE-POINT  1150221.592 1099769.561 103852.367 750.0
    <SKEY> BEBW
    ANGLE 90
    BEND-RADIUS 1143.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6592
SUPPORT
    CO-ORDS  1141385.534 1099769.56 103843.53 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6595
SUPPORT
    CO-ORDS  1128285.54 1099769.56 103830.429 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6598
SUPPORT
    CO-ORDS  1115185.547 1099769.56 103817.328 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6601
SUPPORT
    CO-ORDS  1102085.553 1099769.56 103804.227 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6604
SUPPORT
    CO-ORDS  1088985.56 1099769.56 103791.126 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6607
SUPPORT
    CO-ORDS  1075885.566 1099769.56 103778.025 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6610
SUPPORT
    CO-ORDS  1070407.106 1096769.562 103769.546 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6613
SUPPORT
    CO-ORDS  1065607.108 1093051.237 103761.027 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6616
SUPPORT
    CO-ORDS  1053749.809 1093051.237 103749.169 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6619
SUPPORT
    CO-ORDS  1051574.074 1099376.234 103740.668 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6622
SUPPORT
    CO-ORDS  1047374.076 1103683.024 103732.16 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6625
SUPPORT
    CO-ORDS  1034274.082 1103683.024 103719.059 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6628
SUPPORT
    CO-ORDS  1027707.429 1102269.026 103711.078 750.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    PIPE, 0, LENGTH=4799MM, EAST  RefNo:=67133182/3149_sp0
PIPE
    END-POINT  1145515.978 1034677.42 104662.584 300.0
    END-POINT  1150221.527 1035251.462 103916.89 300.0
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE7  0 MM
    COMPONENT-ATTRIBUTE10 1500 KPA
    COMPONENT-ATTRIBUTE6 210 KG/M3
MESSAGE-SQUARE
    SUPPORT  RefNo:=67149566/141
SUPPORT
    CO-ORDS  1148809.502 1035252.414 104656.566 300.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6631
SUPPORT
    CO-ORDS  1027707.429 1099494.518 103632.303 600.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6565
SUPPORT
    CO-ORDS  1027707.429 1099394.62 103632.204 400.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
MESSAGE-SQUARE
    SUPPORT  RefNo:=67133182/6634
SUPPORT
    CO-ORDS  1026294.236 1096382.273 104329.588 100.0
    <SUPPORT_NAME> CA150
    COMPONENT-ATTRIBUTE1 700 KPA
    COMPONENT-ATTRIBUTE2 120 C
    COMPONENT-ATTRIBUTE3 A106-B
    COMPONENT-ATTRIBUTE4 9.53 MM
    COMPONENT-ATTRIBUTE5 0 MM
    COMPONENT-ATTRIBUTE6 210 KG/M3
    COMPONENT-ATTRIBUTE10 1500 KPA
