ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-WEIGHT KGS
UNITS-BOLT-DIA MM
UNITS-BOLT-LENGTH MM
PIPELINE-REFERENCE export 10-P-001
    PROJECT-IDENTIFIER P1
    AREA A1

MESSAGE-SQUARE
    FLANGE, LENGTH=6.0MM, SOUTH, RefNo:=10-P-001_1, SeqNo:1
FLANGE
    END-POINT    500.0 500.0 1000.0 254.0
    END-POINT    500.0 494.0 1000.0 254.0
    <SKEY>  FLWN

MESSAGE-SQUARE
    SUPPORT, RefNo:=10-P-001_SP1, SeqNo:2, ANC, UCI:SP-01
SUPPORT
    CO-ORDS    500.0 494.0 1000.0 0.0
    <SUPPORT_NAME>    ANC
    <SUPPORT_GUID>    UCI:SP-01

MESSAGE-SQUARE
    PIPE, LENGTH=2500.0MM, SOUTH, RefNo:=10-P-001_2, SeqNo:3
PIPE
    END-POINT    500.0 494.0 1000.0 254.0
    END-POINT    500.0 -2006.0 1000.0 254.0
    PIPELINE-REFERENCE export 10-P-001

MESSAGE-SQUARE
    BEND, LENGTH=381.0MM, SOUTH, RefNo:=10-P-001_3, SeqNo:4
BEND
    END-POINT    500.0 -2006.0 1000.0 254.0
    END-POINT    119.0 -2387.0 1000.0 254.0
    CENTRE-POINT 500.0 -2387.0 1000.0 254.0
    <SKEY>  BEBW
    ANGLE  90.0000
    BEND-RADIUS  381.0

MESSAGE-SQUARE
    PIPE, LENGTH=2000.0MM, EAST, RefNo:=10-P-001_4, SeqNo:5
PIPE
    END-POINT    119.0 -2387.0 1000.0 254.0
    END-POINT    -1881.0 -2387.0 1000.0 254.0
    PIPELINE-REFERENCE export 10-P-001

MESSAGE-SQUARE
    SUPPORT, RefNo:=10-P-001_SP2, SeqNo:6, ANC, UCI:SP-02
SUPPORT
    CO-ORDS    -881.0 -2387.0 1000.0 0.0
    <SUPPORT_NAME>    ANC
    <SUPPORT_GUID>    UCI:SP-02

MESSAGE-SQUARE
    BEND, LENGTH=381.0MM, EAST, RefNo:=10-P-001_5, SeqNo:7
BEND
    END-POINT    -1881.0 -2387.0 1000.0 254.0
    END-POINT    -2262.0 -2387.0 619.0 254.0
    CENTRE-POINT -2262.0 -2387.0 1000.0 254.0
    <SKEY>  BEBW
    ANGLE  90.0000
    BEND-RADIUS  381.0

MESSAGE-SQUARE
    PIPE, LENGTH=3000.0MM, DOWN, RefNo:=10-P-001_6, SeqNo:8
PIPE
    END-POINT    -2262.0 -2387.0 619.0 254.0
    END-POINT    -2262.0 -2387.0 -2381.0 254.0
    PIPELINE-REFERENCE export 10-P-001

MESSAGE-SQUARE
    SUPPORT, RefNo:=10-P-001_SP3, SeqNo:9, ANC, UCI:SP-03
SUPPORT
    CO-ORDS    -2262.0 -2387.0 -881.0 0.0
    <SUPPORT_NAME>    ANC
    <SUPPORT_GUID>    UCI:SP-03

MESSAGE-SQUARE
    BEND, LENGTH=381.0MM, DOWN, RefNo:=10-P-001_7, SeqNo:10
BEND
    END-POINT    -2262.0 -2387.0 -2381.0 254.0
    END-POINT    -2643.0 -2387.0 -2762.0 254.0
    CENTRE-POINT -2262.0 -2387.0 -2762.0 254.0
    <SKEY>  BEBW
    ANGLE  90.0000
    BEND-RADIUS  381.0

MESSAGE-SQUARE
    TEE, LENGTH=2000.0MM, EAST, BrLen=206.0MM, RefNo:=10-P-001_8, SeqNo:11
TEE
    END-POINT     -2643.0 -2387.0 -2762.0 254.0
    END-POINT     -4643.0 -2387.0 -2762.0 254.0
    CENTRE-POINT  -3643.0 -2387.0 -2762.0 254.0
    BRANCH1-POINT -3643.0 -2387.0 -2556.0 203.2
    <SKEY>  TEBW

MESSAGE-SQUARE
    SUPPORT, RefNo:=10-P-001_SP4, SeqNo:12, ANC, UCI:SP-04
SUPPORT
    CO-ORDS    -3643.0 -2387.0 -2762.0 0.0
    <SUPPORT_NAME>    ANC
    <SUPPORT_GUID>    UCI:SP-04

MESSAGE-SQUARE
    PIPE, LENGTH=1500.0MM, EAST, RefNo:=10-P-001_9, SeqNo:13
PIPE
    END-POINT    -4643.0 -2387.0 -2762.0 254.0
    END-POINT    -6143.0 -2387.0 -2762.0 254.0
    PIPELINE-REFERENCE export 10-P-001

MESSAGE-SQUARE
    VALVE, LENGTH=762.0MM, EAST, RefNo:=10-P-001_10, SeqNo:14
VALVE
    END-POINT    -6143.0 -2387.0 -2762.0 254.0
    END-POINT    -6905.0 -2387.0 -2762.0 254.0
    <SKEY>  VBFL

MESSAGE-SQUARE
    PIPE, LENGTH=2000.0MM, EAST, RefNo:=10-P-001_11, SeqNo:15
PIPE
    END-POINT    -6905.0 -2387.0 -2762.0 254.0
    END-POINT    -8905.0 -2387.0 -2762.0 254.0
    PIPELINE-REFERENCE export 10-P-001

MESSAGE-SQUARE
    SUPPORT, RefNo:=10-P-001_SP5, SeqNo:16, ANC, UCI:SP-05
SUPPORT
    CO-ORDS    -7905.0 -2387.0 -2762.0 0.0
    <SUPPORT_NAME>    ANC
    <SUPPORT_GUID>    UCI:SP-05

MESSAGE-SQUARE
    BEND, LENGTH=381.0MM, EAST, RefNo:=10-P-001_12, SeqNo:17
BEND
    END-POINT    -8905.0 -2387.0 -2762.0 254.0
    END-POINT    -8905.0 -2387.0 -3143.0 254.0
    CENTRE-POINT -8905.0 -2387.0 -2762.0 254.0
    <SKEY>  BEBW
    ANGLE  90.0000
    BEND-RADIUS  381.0

MESSAGE-SQUARE
    PIPE, LENGTH=2500.0MM, DOWN, RefNo:=10-P-001_13, SeqNo:18
PIPE
    END-POINT    -8905.0 -2387.0 -3143.0 254.0
    END-POINT    -8905.0 -2387.0 -5643.0 254.0
    PIPELINE-REFERENCE export 10-P-001

MESSAGE-SQUARE
    SUPPORT, RefNo:=10-P-001_SP6, SeqNo:19, ANC, UCI:SP-06
SUPPORT
    CO-ORDS    -8905.0 -2387.0 -4393.0 0.0
    <SUPPORT_NAME>    ANC
    <SUPPORT_GUID>    UCI:SP-06

MESSAGE-SQUARE
    BEND, LENGTH=381.0MM, DOWN, RefNo:=10-P-001_14, SeqNo:20
BEND
    END-POINT    -8905.0 -2387.0 -5643.0 254.0
    END-POINT    -9286.0 -2387.0 -6024.0 254.0
    CENTRE-POINT -9286.0 -2387.0 -5643.0 254.0
    <SKEY>  BEBW
    ANGLE  90.0000
    BEND-RADIUS  381.0

MESSAGE-SQUARE
    PIPE, LENGTH=3000.0MM, EAST, RefNo:=10-P-001_15, SeqNo:21
PIPE
    END-POINT    -9286.0 -2387.0 -6024.0 254.0
    END-POINT    -12286.0 -2387.0 -6024.0 254.0
    PIPELINE-REFERENCE export 10-P-001

MESSAGE-SQUARE
    SUPPORT, RefNo:=10-P-001_SP7, SeqNo:22, ANC, UCI:SP-07
SUPPORT
    CO-ORDS    -10786.0 -2387.0 -6024.0 0.0
    <SUPPORT_NAME>    ANC
    <SUPPORT_GUID>    UCI:SP-07

MESSAGE-SQUARE
    OLET, BrLen=212.8MM, RefNo:=10-P-001_16, SeqNo:23
OLET
    CENTRE-POINT  -11286.0 -2387.0 -6024.0 254.0
    BRANCH1-POINT -11286.0 -2387.0 -5811.2 50.8
    <SKEY>  OLWL

MESSAGE-SQUARE
    BEND, LENGTH=381.0MM, EAST, RefNo:=10-P-001_17, SeqNo:24
BEND
    END-POINT    -12286.0 -2387.0 -6024.0 254.0
    END-POINT    -12286.0 -2006.0 -6405.0 254.0
    CENTRE-POINT -12286.0 -2387.0 -6405.0 254.0
    <SKEY>  BEBW
    ANGLE  90.0000
    BEND-RADIUS  381.0

MESSAGE-SQUARE
    PIPE, LENGTH=3000.0MM, NORTH, RefNo:=10-P-001_18, SeqNo:25
PIPE
    END-POINT    -12286.0 -2006.0 -6405.0 254.0
    END-POINT    -12286.0 994.0 -6405.0 254.0
    PIPELINE-REFERENCE export 10-P-001

MESSAGE-SQUARE
    SUPPORT, RefNo:=10-P-001_SP8, SeqNo:26, ANC, UCI:SP-08
SUPPORT
    CO-ORDS    -12286.0 -506.0 -6405.0 0.0
    <SUPPORT_NAME>    ANC
    <SUPPORT_GUID>    UCI:SP-08

MESSAGE-SQUARE
    FLANGE, LENGTH=6.0MM, NORTH, RefNo:=10-P-001_19, SeqNo:27
FLANGE
    END-POINT    -12286.0 994.0 -6405.0 254.0
    END-POINT    -12286.0 1000.0 -6405.0 254.0
    <SKEY>  FLWN

MESSAGE-SQUARE
    PIPE, LENGTH=2000.0MM, UP, RefNo:=10-P-001_20, SeqNo:28
PIPE
    END-POINT    -3643.0 -2387.0 -2556.0 203.2
    END-POINT    -3643.0 -2387.0 -556.0 203.2
    PIPELINE-REFERENCE export 10-P-001

MESSAGE-SQUARE
    SUPPORT, RefNo:=10-P-001_SP9, SeqNo:29, ANC, UCI:SP-09
SUPPORT
    CO-ORDS    -3643.0 -2387.0 -1556.0 0.0
    <SUPPORT_NAME>    ANC
    <SUPPORT_GUID>    UCI:SP-09

MESSAGE-SQUARE
    BEND, LENGTH=304.8MM, UP, RefNo:=10-P-001_21, SeqNo:30
BEND
    END-POINT    -3643.0 -2387.0 -556.0 203.2
    END-POINT    -3948.0 -2387.0 -251.2 203.2
    CENTRE-POINT -3948.0 -2387.0 -556.0 203.2
    <SKEY>  BEBW
    ANGLE  90.0000
    BEND-RADIUS  304.8

MESSAGE-SQUARE
    PIPE, LENGTH=3000.0MM, EAST, RefNo:=10-P-001_22, SeqNo:31
PIPE
    END-POINT    -3948.0 -2387.0 -251.2 203.2
    END-POINT    -6948.0 -2387.0 -251.2 203.2
    PIPELINE-REFERENCE export 10-P-001

MESSAGE-SQUARE
    SUPPORT, RefNo:=10-P-001_SP10, SeqNo:32, ANC, UCI:SP-10
SUPPORT
    CO-ORDS    -5448.0 -2387.0 -251.2 0.0
    <SUPPORT_NAME>    ANC
    <SUPPORT_GUID>    UCI:SP-10

MESSAGE-SQUARE
    FLANGE, LENGTH=6.0MM, EAST, RefNo:=10-P-001_23, SeqNo:33
FLANGE
    END-POINT    -6948.0 -2387.0 -251.2 203.2
    END-POINT    -6954.0 -2387.0 -251.2 203.2
    <SKEY>  FLWN

MESSAGE-SQUARE
    PIPE, LENGTH=1000.0MM, UP, RefNo:=10-P-001_24, SeqNo:34
PIPE
    END-POINT    -11286.0 -2387.0 -5811.2 50.8
    END-POINT    -11286.0 -2387.0 -4811.2 50.8
    PIPELINE-REFERENCE export 10-P-001

MESSAGE-SQUARE
    FLANGE, LENGTH=6.0MM, UP, RefNo:=10-P-001_25, SeqNo:35
FLANGE
    END-POINT    -11286.0 -2387.0 -4811.2 50.8
    END-POINT    -11286.0 -2387.0 -4805.2 50.8
    <SKEY>  FLWN
