ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-WEIGHT KGS
UNITS-BOLT-DIA MM
UNITS-BOLT-LENGTH MM
PIPELINE-REFERENCE INPUT
    PROJECT-IDENTIFIER P1
    AREA A1
MESSAGE-SQUARE
MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=158MM, UP, RefNo:=67139754/304, SeqNo:4
FLANGE
    END-POINT    183500.0000 170500.0000 108472.9900 900
    END-POINT    183500.0000 170500.0000 108630.9900 900
    <SKEY>  FLWN
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    100 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/304
    COMPONENT-ATTRIBUTE98    4

MESSAGE-SQUARE
    BEND, A106-B, LENGTH=1940MM, UP, RefNo:=67139754/305, SeqNo:6
BEND
    END-POINT    183500.0000 170500.0000 108630.9900 900
    END-POINT    182128.0000 170500.0000 110002.9900 900
    CENTRE-POINT    183500.0000 170500.0000 110002.9900 0
    <SKEY>  BEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/305
    COMPONENT-ATTRIBUTE98    6

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=158MM, WEST, RefNo:=67139754/306, SeqNo:9
FLANGE
    END-POINT    182128.0000 170500.0000 110002.9900 900
    END-POINT    181970.0000 170500.0000 110002.9900 900
    <SKEY>  FLWN
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    100 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/306
    COMPONENT-ATTRIBUTE98    9

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=158MM, WEST, RefNo:=67139754/308, SeqNo:13
FLANGE
    END-POINT    181967.0000 170500.0000 110002.9900 900
    END-POINT    181809.0000 170500.0000 110002.9900 900
    <SKEY>  FLWN
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    100 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/308
    COMPONENT-ATTRIBUTE98    13

MESSAGE-SQUARE
    REDUCER-ECCENTRIC, A106-B, LENGTH=610MM, WEST, RefNo:=67139754/309, SeqNo:15
REDUCER-ECCENTRIC
    END-POINT    181809.0000 170500.0000 110002.9900 900
    END-POINT    181199.0000 170500.0000 110002.9900 750
    Skey  REBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/309
    COMPONENT-ATTRIBUTE98    15

MESSAGE-SQUARE
    REDUCER-ECCENTRIC, A106-B, LENGTH=1110MM, WEST, RefNo:=67139754/310, SeqNo:17
REDUCER-ECCENTRIC
    END-POINT    181199.0000 170500.0000 110002.9900 750
    END-POINT    180089.0000 170500.0000 110002.9900 600
    Skey  REBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/310
    COMPONENT-ATTRIBUTE98    17

SUPPORT
    CO-ORDS    180089.0000 170500.0000 110002.9900 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=914MM, WEST, RefNo:=67131562/2494_Injected, SeqNo:19.1
PIPE
    END-POINT    180089.0000 170500.0000 110002.9900 600
    END-POINT    179175.0000 170500.0000 110002.9900 600
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/2494_Injected
    COMPONENT-ATTRIBUTE98    19.1

MESSAGE-SQUARE
    BEND, A106-B, LENGTH=704MM, WEST, RefNo:=67139754/311, SeqNo:20
BEND
    END-POINT    179175.0000 170500.0000 110002.9900 600
    END-POINT    178524.5920 170500.0000 109733.5820 600
    CENTRE-POINT    178794.0000 170500.0000 110002.9900 0
    <SKEY>  BEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/311
    COMPONENT-ATTRIBUTE98    20

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=473MM, DOWN, RefNo:=67139754/311_pipe, SeqNo:21.1
PIPE
    END-POINT    178524.5920 170500.0000 109733.5820 600
    END-POINT    178190.2960 170500.0000 109399.2860 600
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/311_pipe
    COMPONENT-ATTRIBUTE98    21.1

MESSAGE-SQUARE
    BEND, A106-B, LENGTH=1293MM, NORTH, RefNo:=67139754/312, SeqNo:23
BEND
    END-POINT    178190.2960 170500.0000 109399.2860 600
    END-POINT    177544.0000 171414.0000 108752.9900 600
    CENTRE-POINT    177544.0000 170500.0000 108752.9900 0
    <SKEY>  BEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/312
    COMPONENT-ATTRIBUTE98    23

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1086MM, NORTH, RefNo:=67139754/312_pipe, SeqNo:24.1
PIPE
    END-POINT    177544.0000 171414.0000 108752.9900 600
    END-POINT    177544.0000 172500.0000 108752.9900 600
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/312_pipe
    COMPONENT-ATTRIBUTE98    24.1

SUPPORT
    CO-ORDS    177544.0000 172500.0000 108752.9900 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=8000MM, NORTH, RefNo:=67131562/2497_Injected, SeqNo:26.1
PIPE
    END-POINT    177544.0000 172500.0000 108752.9900 600
    END-POINT    177544.0000 180500.0000 108752.9900 600
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/2497_Injected
    COMPONENT-ATTRIBUTE98    26.1

SUPPORT
    CO-ORDS    177544.0000 180500.0000 108752.9900 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1847MM, NORTH, RefNo:=67131562/2500_Injected, SeqNo:27.1
PIPE
    END-POINT    177544.0000 180500.0000 108752.9900 600
    END-POINT    177544.0000 182347.0000 108752.9900 600
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/2500_Injected
    COMPONENT-ATTRIBUTE98    27.1

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=153MM, NORTH, RefNo:=67139754/313, SeqNo:28
FLANGE
    END-POINT    177544.0000 182347.0000 108752.9900 600
    END-POINT    177544.0000 182500.0000 108752.9900 600
    <SKEY>  FLWN
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    100 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/313
    COMPONENT-ATTRIBUTE98    28

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=153MM, NORTH, RefNo:=67139754/317, SeqNo:36
FLANGE
    END-POINT    177544.0000 182906.0000 108752.9900 600
    END-POINT    177544.0000 183059.0000 108752.9900 600
    <SKEY>  FLWN
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    100 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/317
    COMPONENT-ATTRIBUTE98    36

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1791MM, NORTH, RefNo:=67139754/317_pipe, SeqNo:37
PIPE
    END-POINT    177544.0000 183059.0000 108752.9900 600
    END-POINT    177544.0000 184850.0000 108752.9900 600
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/317_pipe
    COMPONENT-ATTRIBUTE98    37

SUPPORT
    CO-ORDS    177544.0000 184850.0000 108752.9900 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=2709MM, NORTH, RefNo:=67131562/2503_Injected, SeqNo:38.1
PIPE
    END-POINT    177544.0000 184850.0000 108752.9900 600
    END-POINT    177544.0000 187559.0000 108752.9900 600
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/2503_Injected
    COMPONENT-ATTRIBUTE98    38.1

MESSAGE-SQUARE
    REDUCER-ECCENTRIC, A106-B, LENGTH=1113MM, NORTH, RefNo:=67139754/318, SeqNo:39
REDUCER-ECCENTRIC
    END-POINT    177544.0000 187559.0000 108752.9900 600
    END-POINT    177544.0000 188669.0000 108828.9900 750
    Skey  REBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/318
    COMPONENT-ATTRIBUTE98    39

MESSAGE-SQUARE
    OLET, A106-B, LENGTH=500MM, NORTH, RefNo:=67139754/319, SeqNo:41
OLET
    END-POINT    177544.0000 188669.0000 108828.9900 750
    END-POINT    177544.0000 189169.0000 108828.9900 750
    CENTRE-POINT    177544.0000 188669.0000 108828.9900 0
    BRANCH1-POINT    177544.0000 188669.0000 109248.0900 50
    <SKEY>  CEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/319
    COMPONENT-ATTRIBUTE98    41

SUPPORT
    CO-ORDS    177544.0000 189169.0000 108828.9900 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=500MM, NORTH, RefNo:=67131562/2506_Injected, SeqNo:49.1
PIPE
    END-POINT    177544.0000 189169.0000 108828.9900 750
    END-POINT    177544.0000 189669.0000 108828.9900 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/2506_Injected
    COMPONENT-ATTRIBUTE98    49.1

MESSAGE-SQUARE
    BEND, A106-B, LENGTH=1616MM, DOWN, RefNo:=67139754/321, SeqNo:50
BEND
    END-POINT    177544.0000 189669.0000 108828.9900 750
    END-POINT    176401.0000 190812.0000 108828.9900 750
    CENTRE-POINT    177544.0000 190812.0000 108828.9900 0
    <SKEY>  BEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/321
    COMPONENT-ATTRIBUTE98    50

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=314MM, WEST, RefNo:=67139754/321_pipe, SeqNo:51.1
PIPE
    END-POINT    176401.0000 190812.0000 108828.9900 750
    END-POINT    176087.0000 190812.0000 108828.9900 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/321_pipe
    COMPONENT-ATTRIBUTE98    51.1

MESSAGE-SQUARE
    BEND, A106-B, LENGTH=1616MM, DOWN, RefNo:=67139754/322, SeqNo:53
BEND
    END-POINT    176087.0000 190812.0000 108828.9900 750
    END-POINT    174944.0000 190812.0000 107685.9900 750
    CENTRE-POINT    174944.0000 190812.0000 108828.9900 0
    <SKEY>  BEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/322
    COMPONENT-ATTRIBUTE98    53

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=746MM, DOWN, RefNo:=67139754/322_pipe, SeqNo:54.1
PIPE
    END-POINT    174944.0000 190812.0000 107685.9900 750
    END-POINT    174944.0000 190812.0000 106940.0000 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/322_pipe
    COMPONENT-ATTRIBUTE98    54.1

MESSAGE-SQUARE
    TEE, A106-B, LENGTH=791MM, DOWN, RefNo:=67139754/323, SeqNo:56
TEE
    END-POINT    174944.0000 190812.0000 106940.0000 750
    END-POINT    174944.0000 191371.0000 106381.0000 750
    CENTRE-POINT    174944.0000 190812.0000 106381.0000 0
    BRANCH1-POINT    174944.0000 190812.0000 105822.0000 750
    <SKEY>  TEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/323
    COMPONENT-ATTRIBUTE98    56

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=5479MM, NORTH, RefNo:=67139754/323_pipe, SeqNo:58.1
PIPE
    END-POINT    174944.0000 191371.0000 106381.0000 750
    END-POINT    174944.0000 196850.0150 106381.0000 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/323_pipe
    COMPONENT-ATTRIBUTE98    58.1

SUPPORT
    CO-ORDS    174944.0000 196850.0150 106381.0000 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=462MM, NORTH, RefNo:=67131562/2509_Injected, SeqNo:60.1
PIPE
    END-POINT    174944.0000 196850.0150 106381.0000 750
    END-POINT    174944.0000 197312.0000 106381.0000 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/2509_Injected
    COMPONENT-ATTRIBUTE98    60.1

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=5538MM, NORTH, RefNo:=67131562/3518_pipe, SeqNo:64
PIPE
    END-POINT    174944.0000 197312.0000 106381.0000 750
    END-POINT    174944.0000 202850.0150 106381.0000 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/3518_pipe
    COMPONENT-ATTRIBUTE98    64

SUPPORT
    CO-ORDS    174944.0000 202850.0150 106381.0000 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=6000MM, NORTH, RefNo:=67131562/2512_Injected, SeqNo:65.1
PIPE
    END-POINT    174944.0000 202850.0150 106381.0000 750
    END-POINT    174944.0000 208850.0150 106381.0000 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/2512_Injected
    COMPONENT-ATTRIBUTE98    65.1

SUPPORT
    CO-ORDS    174944.0000 208850.0150 106381.0000 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=6000MM, NORTH, RefNo:=67131562/2515_Injected, SeqNo:66.1
PIPE
    END-POINT    174944.0000 208850.0150 106381.0000 750
    END-POINT    174944.0000 214850.0150 106381.0000 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/2515_Injected
    COMPONENT-ATTRIBUTE98    66.1

SUPPORT
    CO-ORDS    174944.0000 214850.0150 106381.0000 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=2249MM, NORTH, RefNo:=67131562/2518_Injected, SeqNo:67.1
PIPE
    END-POINT    174944.0000 214850.0150 106381.0000 750
    END-POINT    174944.0000 217099.0000 106381.0000 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/2518_Injected
    COMPONENT-ATTRIBUTE98    67.1

MESSAGE-SQUARE
    BEND, A106-B, LENGTH=1616MM, DOWN, RefNo:=67139754/324, SeqNo:68
BEND
    END-POINT    174944.0000 217099.0000 106381.0000 750
    END-POINT    173801.0000 218242.0000 106381.0000 750
    CENTRE-POINT    174944.0000 218242.0000 106381.0000 0
    <SKEY>  BEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/324
    COMPONENT-ATTRIBUTE98    68

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=651MM, WEST, RefNo:=67139754/324_pipe, SeqNo:69.1
PIPE
    END-POINT    173801.0000 218242.0000 106381.0000 750
    END-POINT    173150.0100 218242.0000 106381.0000 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/324_pipe
    COMPONENT-ATTRIBUTE98    69.1

SUPPORT
    CO-ORDS    173150.0100 218242.0000 106381.0000 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=449MM, WEST, RefNo:=67131562/2521_Injected, SeqNo:71.1
PIPE
    END-POINT    173150.0100 218242.0000 106381.0000 750
    END-POINT    172701.0000 218242.0000 106381.0000 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/2521_Injected
    COMPONENT-ATTRIBUTE98    71.1

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=5962MM, SOUTH, RefNo:=67139754/325, SeqNo:73
PIPE
    END-POINT    174944.0000 190812.0000 106381.0000 750
    END-POINT    174944.0000 184850.0150 106381.0000 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/325
    COMPONENT-ATTRIBUTE98    73

SUPPORT
    CO-ORDS    174944.0000 184850.0150 106381.0000 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=6000MM, SOUTH, RefNo:=67131562/3668_Injected, SeqNo:74.1
PIPE
    END-POINT    174944.0000 184850.0150 106381.0000 750
    END-POINT    174944.0000 178850.0150 106381.0000 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/3668_Injected
    COMPONENT-ATTRIBUTE98    74.1

SUPPORT
    CO-ORDS    174944.0000 178850.0150 106381.0000 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=6000MM, SOUTH, RefNo:=67131562/3671_Injected, SeqNo:75.1
PIPE
    END-POINT    174944.0000 178850.0150 106381.0000 750
    END-POINT    174944.0000 172850.0150 106381.0000 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/3671_Injected
    COMPONENT-ATTRIBUTE98    75.1

SUPPORT
    CO-ORDS    174944.0000 172850.0150 106381.0000 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=6000MM, SOUTH, RefNo:=67131562/3674_Injected, SeqNo:76.1
PIPE
    END-POINT    174944.0000 172850.0150 106381.0000 750
    END-POINT    174944.0000 166850.0150 106381.0000 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/3674_Injected
    COMPONENT-ATTRIBUTE98    76.1

SUPPORT
    CO-ORDS    174944.0000 166850.0150 106381.0000 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=6000MM, SOUTH, RefNo:=67131562/3677_Injected, SeqNo:77.1
PIPE
    END-POINT    174944.0000 166850.0150 106381.0000 750
    END-POINT    174944.0000 160850.0150 106381.0000 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/3677_Injected
    COMPONENT-ATTRIBUTE98    77.1

SUPPORT
    CO-ORDS    174944.0000 160850.0150 106381.0000 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=3465MM, SOUTH, RefNo:=67131562/3680_Injected, SeqNo:78.1
PIPE
    END-POINT    174944.0000 160850.0150 106381.0000 750
    END-POINT    174944.0000 157385.0000 106381.0000 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/3680_Injected
    COMPONENT-ATTRIBUTE98    78.1

MESSAGE-SQUARE
    BEND, A106-B, LENGTH=1616MM, DOWN, RefNo:=67139754/326, SeqNo:79
BEND
    END-POINT    174944.0000 157385.0000 106381.0000 750
    END-POINT    173801.0000 156242.0000 106381.0000 750
    CENTRE-POINT    174944.0000 156242.0000 106381.0000 0
    <SKEY>  BEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/326
    COMPONENT-ATTRIBUTE98    79

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1100MM, WEST, RefNo:=67139754/326_pipe, SeqNo:80.1
PIPE
    END-POINT    173801.0000 156242.0000 106381.0000 750
    END-POINT    172701.0000 156242.0000 106381.0000 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/326_pipe
    COMPONENT-ATTRIBUTE98    80.1

MESSAGE-SQUARE
    BEND, A106-B, LENGTH=1616MM, DOWN, RefNo:=67131562/1597, SeqNo:84
BEND
    END-POINT    172701.0000 218242.0000 106381.0000 750
    END-POINT    171558.0000 218242.0000 105238.0000 750
    CENTRE-POINT    171558.0000 218242.0000 106381.0000 0
    <SKEY>  BEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1597
    COMPONENT-ATTRIBUTE98    84

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=213MM, DOWN, RefNo:=67131562/1597_pipe, SeqNo:85.1
PIPE
    END-POINT    171558.0000 218242.0000 105238.0000 750
    END-POINT    171558.0000 218242.0000 105025.0000 750
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1597_pipe
    COMPONENT-ATTRIBUTE98    85.1

MESSAGE-SQUARE
    BEND, A106-B, LENGTH=1616MM, DOWN, RefNo:=67131562/1598, SeqNo:87
BEND
    END-POINT    171558.0000 218242.0000 105025.0000 750
    END-POINT    171558.0000 219385.0000 103882.0000 750
    CENTRE-POINT    171558.0000 218242.0000 103882.0000 0
    <SKEY>  BEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1598
    COMPONENT-ATTRIBUTE98    87

MESSAGE-SQUARE
    REDUCER-ECCENTRIC, A106-B, LENGTH=1215MM, NORTH, RefNo:=67131562/1599, SeqNo:90
REDUCER-ECCENTRIC
    END-POINT    171558.0000 219385.0000 103882.0000 750
    END-POINT    171558.0000 220600.0150 103882.0000 600
    Skey  REBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1599
    COMPONENT-ATTRIBUTE98    90

SUPPORT
    CO-ORDS    171558.0000 220600.0150 103882.0000 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=395MM, NORTH, RefNo:=67139754/6_Injected, SeqNo:92.1
PIPE
    END-POINT    171558.0000 220600.0150 103882.0000 600
    END-POINT    171558.0000 220995.0000 103882.0000 600
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/6_Injected
    COMPONENT-ATTRIBUTE98    92.1

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=153MM, NORTH, RefNo:=67131562/1600, SeqNo:93
FLANGE
    END-POINT    171558.0000 220995.0000 103882.0000 600
    END-POINT    171558.0000 221148.0000 103882.0000 600
    <SKEY>  FLWN
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    100 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1600
    COMPONENT-ATTRIBUTE98    93

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=153MM, NORTH, RefNo:=67131562/1604, SeqNo:101
FLANGE
    END-POINT    171558.0000 221840.0000 103882.0000 600
    END-POINT    171558.0000 221993.0000 103882.0000 600
    <SKEY>  FLWN
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    100 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1604
    COMPONENT-ATTRIBUTE98    101

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=347MM, NORTH, RefNo:=67131562/1604_pipe, SeqNo:102
PIPE
    END-POINT    171558.0000 221993.0000 103882.0000 600
    END-POINT    171558.0000 222340.0000 103882.0000 600
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1604_pipe
    COMPONENT-ATTRIBUTE98    102

SUPPORT
    CO-ORDS    171558.0000 222340.0000 103882.0000 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=253MM, NORTH, RefNo:=67139754/9_Injected, SeqNo:103.1
PIPE
    END-POINT    171558.0000 222340.0000 103882.0000 600
    END-POINT    171558.0000 222593.0000 103882.0000 600
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/9_Injected
    COMPONENT-ATTRIBUTE98    103.1

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=156MM, NORTH, RefNo:=67131562/1605, SeqNo:104
FLANGE
    END-POINT    171558.0000 222593.0000 103882.0000 600
    END-POINT    171558.0000 222749.0000 103882.0000 600
    <SKEY>  FLWN
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    100 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1605
    COMPONENT-ATTRIBUTE98    104

MESSAGE-SQUARE
    MISC-COMPONENT, A106-B, LENGTH=40MM, NORTH, RefNo:=67131562/1607, SeqNo:108
MISC-COMPONENT
    END-POINT    171558.0000 222749.0000 103882.0000 600
    END-POINT    171558.0000 222789.0000 103882.0000 600
    <SKEY>  COMP
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1607
    COMPONENT-ATTRIBUTE98    108

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=153MM, NORTH, RefNo:=67131562/1609, SeqNo:112
FLANGE
    END-POINT    171558.0000 222789.0000 103882.0000 600
    END-POINT    171558.0000 222942.0000 103882.0000 600
    <SKEY>  FLWN
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    100 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1609
    COMPONENT-ATTRIBUTE98    112

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=400MM, NORTH, RefNo:=67131562/1609_pipe, SeqNo:113
PIPE
    END-POINT    171558.0000 222942.0000 103882.0000 600
    END-POINT    171558.0000 223342.0000 103882.0000 600
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1609_pipe
    COMPONENT-ATTRIBUTE98    113

MESSAGE-SQUARE
    OLET, A106-B, LENGTH=800MM, NORTH, RefNo:=67131562/1610, SeqNo:114
OLET
    END-POINT    171558.0000 223342.0000 103882.0000 600
    END-POINT    171558.0000 224142.0000 103882.0000 600
    CENTRE-POINT    171558.0000 223342.0000 103882.0000 0
    BRANCH1-POINT    171558.0000 223342.0000 104225.1000 50
    <SKEY>  CEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1610
    COMPONENT-ATTRIBUTE98    114

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=2708MM, NORTH, RefNo:=67131562/1611_pipe, SeqNo:121
PIPE
    END-POINT    171558.0000 224142.0000 103882.0000 600
    END-POINT    171558.0000 226850.0150 103882.0000 600
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1611_pipe
    COMPONENT-ATTRIBUTE98    121

SUPPORT
    CO-ORDS    171558.0000 226850.0150 103882.0000 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1003MM, NORTH, RefNo:=67139754/12_Injected, SeqNo:122.1
PIPE
    END-POINT    171558.0000 226850.0150 103882.0000 600
    END-POINT    171558.0000 227852.6000 103882.0000 600
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/12_Injected
    COMPONENT-ATTRIBUTE98    122.1

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1425MM, NORTH, RefNo:=67131562/1612_pipe, SeqNo:126
PIPE
    END-POINT    171558.0000 227852.6000 103882.0000 600
    END-POINT    171558.0000 229278.0000 103882.0000 600
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1612_pipe
    COMPONENT-ATTRIBUTE98    126

MESSAGE-SQUARE
    BEND, A106-B, LENGTH=1293MM, DOWN, RefNo:=67131562/1613, SeqNo:127
BEND
    END-POINT    171558.0000 229278.0000 103882.0000 600
    END-POINT    170644.0000 230192.0000 103882.0000 600
    CENTRE-POINT    171558.0000 230192.0000 103882.0000 0
    <SKEY>  BEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1613
    COMPONENT-ATTRIBUTE98    127

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=494MM, WEST, RefNo:=67131562/1613_pipe, SeqNo:128.1
PIPE
    END-POINT    170644.0000 230192.0000 103882.0000 600
    END-POINT    170150.0150 230192.0000 103882.0000 600
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1613_pipe
    COMPONENT-ATTRIBUTE98    128.1

SUPPORT
    CO-ORDS    170150.0150 230192.0000 103882.0000 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=6000MM, WEST, RefNo:=67139754/15_Injected, SeqNo:130.1
PIPE
    END-POINT    170150.0150 230192.0000 103882.0000 600
    END-POINT    164150.0150 230192.0000 103882.0000 600
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/15_Injected
    COMPONENT-ATTRIBUTE98    130.1

SUPPORT
    CO-ORDS    164150.0150 230192.0000 103882.0000 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=6000MM, WEST, RefNo:=67139754/18_Injected, SeqNo:131.1
PIPE
    END-POINT    164150.0150 230192.0000 103882.0000 600
    END-POINT    158150.0150 230192.0000 103882.0000 600
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/18_Injected
    COMPONENT-ATTRIBUTE98    131.1

SUPPORT
    CO-ORDS    158150.0150 230192.0000 103882.0000 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=904MM, WEST, RefNo:=67139754/21_Injected, SeqNo:132.1
PIPE
    END-POINT    158150.0150 230192.0000 103882.0000 600
    END-POINT    157246.0000 230192.0000 103882.0000 600
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/21_Injected
    COMPONENT-ATTRIBUTE98    132.1

MESSAGE-SQUARE
    OLET, A106-B, LENGTH=318MM, WEST, RefNo:=67131562/2838, SeqNo:133
OLET
    END-POINT    157246.0000 230192.0000 103882.0000 600
    END-POINT    156928.0000 230192.0000 103882.0000 600
    CENTRE-POINT    157246.0000 230192.0000 103882.0000 0
    BRANCH1-POINT    157246.0000 230192.0000 104231.4000 80
    <SKEY>  CEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/2838
    COMPONENT-ATTRIBUTE98    133

MESSAGE-SQUARE
    TEE, A106-B, LENGTH=864MM, WEST, RefNo:=67131562/1614, SeqNo:137
TEE
    END-POINT    156928.0000 230192.0000 103882.0000 600
    END-POINT    156064.0000 230192.0000 103882.0000 600
    CENTRE-POINT    156496.0000 230192.0000 103882.0000 0
    BRANCH1-POINT    156496.0000 229760.0000 103882.0000 600
    <SKEY>  TEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1614
    COMPONENT-ATTRIBUTE98    137

MESSAGE-SQUARE
    BEND, A106-B, LENGTH=1293MM, DOWN, RefNo:=67131562/1615, SeqNo:141
BEND
    END-POINT    156064.0000 230192.0000 103882.0000 600
    END-POINT    155150.0000 229278.0000 103882.0000 600
    CENTRE-POINT    155150.0000 230192.0000 103882.0000 0
    <SKEY>  BEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1615
    COMPONENT-ATTRIBUTE98    141

MESSAGE-SQUARE
    REDUCER-ECCENTRIC, A106-B, LENGTH=1200MM, SOUTH, RefNo:=67131562/1616, SeqNo:144
REDUCER-ECCENTRIC
    END-POINT    155150.0000 229278.0000 103882.0000 600
    END-POINT    155150.0000 228078.0000 103882.0000 450
    Skey  REBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1616
    COMPONENT-ATTRIBUTE98    144

SUPPORT
    CO-ORDS    155150.0000 228078.0000 103882.0000 0
    <SUPPORT_NAME>    CA150

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1902MM, SOUTH, RefNo:=67139754/24_Injected, SeqNo:146.1
PIPE
    END-POINT    155150.0000 228078.0000 103882.0000 450
    END-POINT    155150.0000 226175.9900 103882.0000 450
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67139754/24_Injected
    COMPONENT-ATTRIBUTE98    146.1

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=143MM, SOUTH, RefNo:=67131562/1617, SeqNo:147
FLANGE
    END-POINT    155150.0000 226175.9900 103882.0000 450
    END-POINT    155150.0000 226032.9900 103882.0000 450
    <SKEY>  FLWN
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    100 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1617
    COMPONENT-ATTRIBUTE98    147

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=140MM, SOUTH, RefNo:=67131562/1619, SeqNo:151
FLANGE
    END-POINT    155150.0000 226032.9900 103882.0000 450
    END-POINT    155150.0000 225892.9900 103882.0000 450
    <SKEY>  FLWN
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    100 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1619
    COMPONENT-ATTRIBUTE98    151

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1500MM, SOUTH, RefNo:=67131562/1619_pipe, SeqNo:152
PIPE
    END-POINT    155150.0000 225892.9900 103882.0000 450
    END-POINT    155150.0000 224392.9900 103882.0000 450
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1619_pipe
    COMPONENT-ATTRIBUTE98    152

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=143MM, SOUTH, RefNo:=67131562/1620, SeqNo:153
FLANGE
    END-POINT    155150.0000 224392.9900 103882.0000 450
    END-POINT    155150.0000 224249.9900 103882.0000 450
    <SKEY>  FLWN
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    100 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =67131562/1620
    COMPONENT-ATTRIBUTE98    153

