ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-WEIGHT KGS
UNITS-BOLT-DIA MM
UNITS-BOLT-LENGTH MM
PIPELINE-REFERENCE export DEMO-PIPE-ROUTE-01
    PROJECT-IDENTIFIER P1
    AREA A1

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1000MM, EAST, RefNo:=MOCK-001, SeqNo:1
PIPE
    END-POINT    1000.0 1000.0 1000.0 400.0
    END-POINT    2000.0 1000.0 1000.0 400.0
    PIPELINE-REFERENCE export DEMO-PIPE-ROUTE-01
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    106
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =MOCK-001
    COMPONENT-ATTRIBUTE98    1

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1500MM, EAST, RefNo:=MOCK-002, SeqNo:2
PIPE
    END-POINT    2005.0 1000.0 1000.0 400.0
    END-POINT    3505.0 1000.0 1000.0 400.0
    PIPELINE-REFERENCE export DEMO-PIPE-ROUTE-01
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    106
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =MOCK-002
    COMPONENT-ATTRIBUTE98    2

MESSAGE-SQUARE
    BEND, A106-B, LENGTH=1000MM, NORTH, RefNo:=MOCK-003, SeqNo:3
BEND
    END-POINT    3505.0 1000.0 1000.0 400.0
    END-POINT    3505.0 2000.0 1000.0 400.0
    CENTRE-POINT  3505.0 1500.0 1000.0 400.0
    ANGLE 90.0
    BEND-RADIUS 500.0
    <SKEY>  BEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    106
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    38 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =MOCK-003
    COMPONENT-ATTRIBUTE98    3

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1000MM, NORTH, RefNo:=MOCK-004, SeqNo:4
PIPE
    END-POINT    3505.0 2015.0 1000.0 400.0
    END-POINT    3505.0 3015.0 1000.0 400.0
    PIPELINE-REFERENCE export DEMO-PIPE-ROUTE-01
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    106
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =MOCK-004
    COMPONENT-ATTRIBUTE98    4

MESSAGE-SQUARE
    TEE, A106-B, LENGTH=1000MM, EAST, RefNo:=MOCK-005, SeqNo:5, BrLen=300MM
TEE
    END-POINT    3505.0 3015.0 1000.0 400.0
    END-POINT    4505.0 3015.0 1000.0 400.0
    CENTRE-POINT  4005.0 3015.0 1000.0 400.0
    BRANCH1-POINT 4005.0 3015.0 1300.0 150.0
    <SKEY>  TEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    106
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    62 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =MOCK-005
    COMPONENT-ATTRIBUTE98    5

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1000MM, EAST, RefNo:=MOCK-006, SeqNo:6
PIPE
    END-POINT    4505.0 3015.0 1000.0 400.0
    END-POINT    5505.0 3015.0 1000.0 400.0
    PIPELINE-REFERENCE export DEMO-PIPE-ROUTE-01
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    106
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =MOCK-006
    COMPONENT-ATTRIBUTE98    6

MESSAGE-SQUARE
    SUPPORT, RefNo:=MOCK-007, SeqNo:7, CA150, UCI:PS00178.1
SUPPORT
    CO-ORDS    5505.0 3015.0 1000.0 0.0
    <SUPPORT_NAME>    CA150
    <SUPPORT_GUID>    UCI:PS00178.1

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1000MM, EAST, RefNo:=MOCK-008, SeqNo:8
PIPE
    END-POINT    6505.0 3015.0 1000.0 400.0
    END-POINT    7505.0 3015.0 1000.0 400.0
    PIPELINE-REFERENCE export DEMO-PIPE-ROUTE-01
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    106
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =MOCK-008
    COMPONENT-ATTRIBUTE98    8

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=100MM, EAST, RefNo:=MOCK-009, SeqNo:9
FLANGE
    END-POINT    7505.0 3015.0 1000.0 400.0
    END-POINT    7605.0 3015.0 1000.0 400.0
    <SKEY>  FLWN
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    106
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    42 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =MOCK-009
    COMPONENT-ATTRIBUTE98    9

MESSAGE-SQUARE
    VALVE, A106-B, LENGTH=200MM, EAST, RefNo:=MOCK-010, SeqNo:10
VALVE
    END-POINT    7600.0 3015.0 1000.0 400.0
    END-POINT    7800.0 3015.0 1000.0 400.0
    <SKEY>  VBFL
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    106
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    85 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =MOCK-010
    COMPONENT-ATTRIBUTE98    10

MESSAGE-SQUARE
    REDUCER, A106-B, LENGTH=150MM, EAST, RefNo:=MOCK-011, SeqNo:11, Bore=400/250
REDUCER-CONCENTRIC
    END-POINT    7800.0 3015.0 1000.0 400.0
    END-POINT    7950.0 3015.0 1000.0 250.0
    <SKEY>  RCBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    106
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    55 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =MOCK-011
    COMPONENT-ATTRIBUTE98    11

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1050MM, EAST, RefNo:=MOCK-012, SeqNo:12
PIPE
    END-POINT    7950.0 3015.0 1000.0 250.0
    END-POINT    9000.0 3015.0 1000.0 250.0
    PIPELINE-REFERENCE export DEMO-PIPE-ROUTE-01
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    106
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =MOCK-012
    COMPONENT-ATTRIBUTE98    12

MESSAGE-SQUARE
    BEND, A106-B, LENGTH=1000MM, UP, RefNo:=MOCK-013, SeqNo:13
BEND
    END-POINT    9000.0 3015.0 1000.0 250.0
    END-POINT    9000.0 3015.0 2000.0 250.0
    CENTRE-POINT  9000.0 3015.0 1500.0 250.0
    ANGLE 90.0
    BEND-RADIUS 500.0
    <SKEY>  BEBW
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    106
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    38 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =MOCK-013
    COMPONENT-ATTRIBUTE98    13

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1000MM, UP, RefNo:=MOCK-014, SeqNo:14
PIPE
    END-POINT    9000.0 3015.0 2015.0 250.0
    END-POINT    9000.0 3015.0 3015.0 250.0
    PIPELINE-REFERENCE export DEMO-PIPE-ROUTE-01
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    106
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =MOCK-014
    COMPONENT-ATTRIBUTE98    14

MESSAGE-SQUARE
    OLET, A106-B, RefNo:=MOCK-015, SeqNo:15, BrLen=400MM
OLET
    CENTRE-POINT  9000.0 3015.0 2515.0 250.0
    BRANCH1-POINT 9400.0 3015.0 2515.0 80.0
    <SKEY>  OLWL
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    106
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    12 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =MOCK-015
    COMPONENT-ATTRIBUTE98    15

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1000MM, UP, RefNo:=MOCK-016, SeqNo:16
PIPE
    END-POINT    9000.0 3015.0 3015.0 250.0
    END-POINT    9000.0 3015.0 4015.0 250.0
    PIPELINE-REFERENCE export DEMO-PIPE-ROUTE-01
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    106
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =MOCK-016
    COMPONENT-ATTRIBUTE98    16

MESSAGE-SQUARE
    REDUCER, A106-B, LENGTH=200MM, UP, RefNo:=MOCK-017, SeqNo:17, Bore=250/150
REDUCER-ECCENTRIC
    END-POINT    9000.0 3015.0 4015.0 250.0
    END-POINT    9000.0 3015.0 4215.0 150.0
    <SKEY>  REBW
    FLAT-DIRECTION DOWN
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    106
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    55 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =MOCK-017
    COMPONENT-ATTRIBUTE98    17

MESSAGE-SQUARE
    PIPE, A106-B, LENGTH=1000MM, UP, RefNo:=MOCK-018, SeqNo:18
PIPE
    END-POINT    9000.0 3015.0 4215.0 150.0
    END-POINT    9000.0 3015.0 5215.0 150.0
    PIPELINE-REFERENCE export DEMO-PIPE-ROUTE-01
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    106
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =MOCK-018
    COMPONENT-ATTRIBUTE98    18

MESSAGE-SQUARE
    FLANGE, A106-B, LENGTH=75MM, UP, RefNo:=MOCK-019, SeqNo:19
FLANGE
    END-POINT    9000.0 3015.0 5215.0 150.0
    END-POINT    9000.0 3015.0 5290.0 150.0
    <SKEY>  FLWN
    COMPONENT-ATTRIBUTE1    700 KPA
    COMPONENT-ATTRIBUTE2    120 C
    COMPONENT-ATTRIBUTE3    106
    COMPONENT-ATTRIBUTE4    9.53 MM
    COMPONENT-ATTRIBUTE5    0 MM
    COMPONENT-ATTRIBUTE6    210 KG/M3
    COMPONENT-ATTRIBUTE8    42 KG
    COMPONENT-ATTRIBUTE9    1000 KG/M3
    COMPONENT-ATTRIBUTE10    1500 KPA
    COMPONENT-ATTRIBUTE97    =MOCK-019
    COMPONENT-ATTRIBUTE98    19

MESSAGE-SQUARE
    SUPPORT, RefNo:=MOCK-020, SeqNo:20, ANCHOR-SUPPORT-01, UCI:PS00179.1
SUPPORT
    CO-ORDS    9000.0 3015.0 5290.0 0.0
    <SUPPORT_NAME>    ANCHOR-SUPPORT-01
    <SUPPORT_GUID>    UCI:PS00179.1
